<div class="header-container">
  <h1>Thêm mới danh mục sản phẩm</h1>
</div>
<form [formGroup]="editDMProductForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="edit-form">
    <input matInput placeholder="Tên Danh mục sản Phẩm" formControlName="tenDanhMucSanPham">
    <mat-error *ngIf="editDMProductForm.get('tenDanhMucSanPham')?.hasError('required')">
      Tên sản phẩm không được để trống
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nhóm danh mục sản phẩm</mat-label>
    <mat-select formControlName="idDMNSanPham" placeholder="Chọn nhóm danh mục">
      <mat-option *ngFor="let groupcategory of NDMSanPham" [value]="groupcategory.idDMNSanPham">
        {{ groupcategory.tenDMNhomSanPham }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sử dụng</mat-label>
    <mat-select formControlName="suDung" placeholder="Chọn">
      <mat-option [value]="true">Sử dụng</mat-option>
      <mat-option [value]="false">Không sử dụng</mat-option>
    </mat-select>
  </mat-form-field>





  <button mat-raised-button style="margin-left: 1075px;" color="primary" type="submit">Thêm Danh Mục </button>
</form>
