<div class="header-container">
  <h1>Lên đơn</h1>
</div>
<form [formGroup]="addOrderForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">

    <input matInput placeholder="Nhân viên lên đơn" [value]="tenNV" [readonly]="true">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Đơn hàng" [readonly]="true" formControlName="maDonHang">

  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Kiểu thanh toán</mat-label>
    <mat-select formControlName="kieuThanhToan" placeholder="Chọn">
      <mat-option [value]="0">Thanh toán khi nhận hàng</mat-option>
      <mat-option [value]="1">Thánh toán qua ngân hàng</mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Tên khách" formControlName="tenKhach">
    <mat-error *ngIf="addOrderForm.get('tenKhach')?.hasError('required')">
      Tên khách không được để trống
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Thành tiền" formControlName="thanhTien" [readonly]="true"
    [value]="addOrderForm.get('thanhTien')?.value | currency:'VND'"
    >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Số điển thoại của khách" formControlName="soDienThoaiKhach">
    <mat-error *ngIf="addOrderForm.get('soDienThoaiKhach')?.hasError('required')">
      Số điện thoại khách không được để trống
    </mat-error>
  </mat-form-field>



  <mat-form-field class="example-full-width">
    <input matInput placeholder="Địa chỉ giao hàng" formControlName="diaChi">
    <mat-error *ngIf="addOrderForm.get('diaChi')?.hasError('required')">
      Địa chỉ không được để trống
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ghi chú" formControlName="ghiChuDonHang">
    <mat-error *ngIf="addOrderForm.get('ghiChuDonHang')?.hasError('required')">
      Ghi chú không được để trống
    </mat-error>
  </mat-form-field>
  <!----->
  <table class="tab-h" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="idSanPham">
      <th mat-header-cell *matHeaderCellDef> Tên sản phẩm</th>
      <td mat-cell *matCellDef="let element">
        {{ getTenSanPham(element.idSanPham) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="gia">
      <th mat-header-cell *matHeaderCellDef> Giá</th>
      <td mat-cell *matCellDef="let element"> {{ element.gia | currency:'VND'}} </td>
    </ng-container>
    <ng-container matColumnDef="soluong">
      <th mat-header-cell *matHeaderCellDef>Số lượng</th>
      <td mat-cell *matCellDef="let element"> {{ element.soLuong }} </td>
    </ng-container>
    <ng-container matColumnDef="tongtien" >
      <th mat-header-cell *matHeaderCellDef>Tổng tiền</th>
      <td mat-cell *matCellDef="let element" > {{ element.tongTien | currency:'VND'}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> <a mat-flat-button color="warn" (click)="openDialog(idDonHang)" >
           + Thêm
          </a> </th>
      <td mat-cell *matCellDef="let element" class="action-buttons" style="text-align: center;">

        <button mat-fab color="warn" (click)="deleteItem(element)" >
          <mat-icon>delete</mat-icon >
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="!donHangChiTiet.length" style="text-align: center; margin-top: 20px;">
    Chưa có sản phẩm nào cả
  </div>

  <button mat-raised-button color="primary" class="btn-them" type="submit" [disabled]="!DonHang()">Thêm Đơn</button>
</form>
