body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}



.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-head {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
}

.card-body {
  padding: 15px;
}

